{% extends 'base.html.twig' %}     

{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block body %}

<section class="g-mt-130 g-py-50">
        <img src=" {{ asset('assets/img/banner/banner-factoring-1.jpg') }}" class="img-fluid imgbanner" alt="Responsive image">
        <div class="cuadro g-hidden-md-down">
       <div  class="padding-cuadro"> 
       <p class="titulo-cuadro blanco">FACTORING<br>PARA PYMES:</p>
        <strong class="blanco">LA LIQUIDEZ QUE NECESITAS HOY</strong>
        </div>
        </div>
        

  </section>
    <!-- FIN BANNER -->

    {# INICIO TEXTO #}

<div class="row">
<div class="col-md-6 offset-md-4 g-pb-20">
El factoring es una operación financiera en la que tu empresa cede a Interfactor sus documentos por cobrar (cheques, facturas, letras, entre otros) para transformarlos en liquidez inmediata, y así mantener un flujo activo de dinero en caja. Nosotros nos hacemos cargo de cobrarla en el plazo estipulado.<br><br>
<ul>
<li>Liquidez disponible en pocas horas.</li>
<li>No constituye deuda en el Sistema Financiero.</li>
<li>Nos hacemos cargo de la cobranza.</li>
<li>Gestión abierta, seria y transparente.</li>
<li>Consulta tus operaciones desde tu cuenta en <strong>Interfactor Online.</strong></li>
</ul><br>
Interfactor te acompaña durante todo el proceso para que cuentes con el capital de trabajo que tu empresa necesita para su operación.
</div>
 {# FIN TEXTO #}
 {# INICIO IMAGEN #}
<div class="col-md-6 offset-md-4 g-pb-40">

        <img src=" {{ asset('assets/img/iconos/factoring.png') }}" class="img-fluid" alt="Responsive image">

</div>
{# FIN IMAGEN #}
{# INICIO TEXTO #}
<div id="cotizador" class="col-md-6 offset-md-4 g-pb-30 text-center">
<span style="font-size:31px; font-weight:300">No esperes más. ¡Solicita una cotización hoy mismo!</span>

</div>
{# FIN TEXTO #}

{# INICIO FORM #}




<div class="row" style="background:#E6E6E6">
<div class="col-md-6 offset-md-4 g-pb-20 g-pt-20 text-center">
<span style="font-size:20px;"><strong>INGRESA TUS DATOS PARA RECIBIR TU COTIZACIÓN DE FACTORING</strong></span>

</div>
{# INICIOIMAGEN FORM #}
<div class="col-md-4">
        <img src=" {{ asset('assets/img/img-form-1.jpg') }}" class="img-fluid text-right g-pt-60" style="float:right" alt="Responsive image">

</div>
{# FIN IMAGEN FORM #}
<div class="col-md-6">

            <div class="shortcode-html">
              <!-- General Forms -->
              <form class="g-brd-around  g-pa-30 g-mb-30">
                <!-- Text nombre de empresa -->
                <div class="col-md-12">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10" for="inputGroup1_1">Nombre Empresa <span style="color:#C12A21">*</span></label>
                  <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="text" placeholder="Ingrese Nombre de Empresa">
                  {# <small class="form-text text-muted g-font-size-default g-mt-10">.</small> #}
                </div>
                </div>
                <!-- End nombre de empresa -->
                <!-- Text RUT de empresa -->
                <div class="col-md-6">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10" for="inputGroup1_1">Rut Empresa <span style="color:#C12A21">*</span></label>
                  <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="number" placeholder="Ingrese Rut de Empresa">
                  {# <small class="form-text text-muted g-font-size-default g-mt-10">.</small> #}
                </div>
                </div>
                <!-- End nombre de empresa -->
                <div class="row">
                <!-- Text RUT de empresa -->
                <div class="col-md-6">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10" for="inputGroup1_1">Facturacion Mensual <span style="color:#C12A21">*</span></label>
                  <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="text" placeholder="Ingrese Facturacion Mensual">
                  {# <small class="form-text text-muted g-font-size-default g-mt-10">.</small> #}
                </div>
                </div>
                <!-- End nombre de empresa -->
                 <!-- Text RUT de empresa -->
                <div class="col-md-6">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10" for="inputGroup1_1">Monto de Operanción <span style="color:#C12A21">*</span></label>
                  <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="number" placeholder="Ingrese Facturacion Mensual">
                  {# <small class="form-text text-muted g-font-size-default g-mt-10">.</small> #}
                </div>
                </div>
                </div>
                <div class="row">
                <!-- Text RUT de empresa -->
                <div class="col-md-6">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10" for="inputGroup1_1">Teléfono <span style="color:#C12A21">*</span></label>
                  <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="number" placeholder="Ingrese Teléfono">
                  {# <small class="form-text text-muted g-font-size-default g-mt-10">.</small> #}
                </div>
                </div>
                <!-- End nombre de empresa -->
                 <!-- Text RUT de empresa -->
                <div class="col-md-6">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10" for="inputGroup1_1">E-mail <span style="color:#C12A21">*</span></label>
                  <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="email" placeholder="Ingrese E-mail">
                  {# <small class="form-text text-muted g-font-size-default g-mt-10">.</small> #}
                </div>
                </div>
                </div>
                 <div class="row">
                <!-- Text RUT de empresa -->
                <div class="col-md-6">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10" for="inputGroup1_1">Fecha de Vencimiento </label>
                  <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="text" placeholder="dd/mm/aaaa">
                  {# <small class="form-text text-muted g-font-size-default g-mt-10">.</small> #}
                </div>
                </div>
                <!-- End nombre de empresa -->
                 <!-- Text RUT de empresa -->
                <div class="col-md-6">
                
            <div class="shortcode-html">
             

                <!-- Advanced File Input -->
                <div class="form-group mb-0">
                  <label class="g-mb-10">Adjuntar Facturas</label><br>
                  <input class="js-file-attachment" type="file" name="fileAttachment2[]">
                </div>
                <!-- End Advanced File Input -->

              <!-- End File Inputs -->
            </div>

            <div class="shortcode-scripts">
              <!-- JS Implementing Plugins -->
              <script  src="../../../assets/vendor/jquery.filer/js/jquery.filer.min.js"></script>

              <!-- JS Unify -->
              <script  src="../../../assets/js/helpers/hs.focus-state.js"></script>
              <script  src="../../../assets/js/components/hs.file-attachement.js"></script>

              <!-- JS Plugins Init. -->
              <script >
                $(document).on('ready', function () {
                      // initialization of forms
                      $.HSCore.components.HSFileAttachment.init('.js-file-attachment');
                      $.HSCore.helpers.HSFocusState.init();
                    });
              </script>
            </div>
          
                </div>
                </div>
                
                <div class="text-center">
                <button type="submit" class="btn btn-md u-btn-red rounded-0 g-mt-30" style="padding:10px 50px"><strong>COTIZAR</strong></button>
                </div>

                <span style="color:#C12A21;font-weight:300">* Campos Obligatorios</span>
                

               
                <!-- End Text Input with Both Appended Icon -->
              </form>
              <!-- End General Forms -->
            </div>

            <div class="shortcode-styles">
              <!-- CSS Implementing Plugins -->
              <link  rel="stylesheet" href="../../../assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
            </div>

            <div class="shortcode-scripts">
              <!-- jQuery UI Core -->
              <script  src="../../../assets/vendor/jquery-ui/jquery-ui.core.js"></script>

              <!-- jQuery UI Helpers -->
              <script  src="../../../assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
              <script  src="../../../assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

              <!-- jQuery UI Widgets -->
              <script  src="../../../assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

              <!-- JS Unify -->
              <script  src="../../../assets/js/components/hs.autocomplete.js"></script>

              <!-- JS Plugins Init. -->
              <script >
                $(document).on('ready', function () {
                      // initialization of autocomplet
                      $.HSCore.components.HSAutocomplete.init('#autocomplete2');
                    });
              </script>
            </div>
          
               
              
</div>
{# FIN FORM #}







{% endblock %}
{% block javascripts  %}
    {{ parent() }}
{% endblock %}