{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href=" {{ asset('assets/vendor/master-slider/source/assets/css/masterslider.main.css') }} "> 
	<link rel="stylesheet" href=" {{ asset('assets/slider/css/style.css') }} "> 

  
{% endblock %}


{% block body %}




<!-- INICIO BANNER -->
<section id="slider">
	<div class="g-pt-170"></div>
</section>


  <!-- MasterSlider Main -->
  <div id="masterslider" class="master-slider ms-skin-default">
	<div class="ms-overlay-layers">
	  <img class="ms-layer"
		   src="{{ asset('assets/slider/img/blank.gif') }}"
		   data-src="{{ asset('assets/slider/img/offroad-bg-slide1.jpg') }}"
		   alt=""
		   style=""
		   data-ease="easeOutQuint"
		   data-type="image"
		   data-wait="true"
		   data-offset-x="0"
		   data-offset-y="0"
		   data-origin="tl"
		   data-position="normal" />
	</div>

	<div class="ms-slide" data-delay="5" data-fill-mode="fill" data-id="slide1">
	  <img src="{{ asset('assets/slider/img/blank.gif') }}" alt="" title="" 
	  data-src="{{ asset('assets/slider/img/imgslid.jpg') }}" />
	
	  <div class="ms-layer g-py-70--md"
		   style=" color: #fff; font-family: 'Poppins', sans-serif; background: rgba(198, 6, 6,.85); padding: 10px;"
		   data-effect="t(true,n,-90,n,n,n,n,n,n,n,n,n,n,n,n)"
		   data-duration="2000"
		   data-delay="200"
		   data-ease="easeOutQuint"
		   data-offset-x="100"
		   data-offset-y="60"
		   data-origin="tl"
		   data-position="normal">


		   <div  class="m-4">
		   		<div class="text center g-font-size-30 g-font-size-50--md"><b>TRANQUILO...</b></div>
				   <div class="text-right g-mt-20 g-font-size-15 g-font-size-25--md"><b>... estamos contigo</b></div>
				   <div class="text-right g-mt-10 g-mt-30--md g-font-size-10 g-font-size-18--md">Respaldo financiero a la</div>
				   <div class="text-right g-mt-5  g-font-size-10 g-font-size-18--md">medida de tu PYME.</div>
		    </div>
	  </div>
	</div>
  </div>
  <!-- END MasterSlider Main -->


<seccion id="iconos">
	<div class="container">
		<div class="col-md-12">
			<div class="text-center g-mt-20 g-mb-30">
				<h2>
					<span style="font-weight: 300;">¿Por qué</span>
					<strong>
						elegirnos?</strong>
				</h2>
			</div>
		</div>
		<div class="shortcode-html">


			<div class="row">
				<div
					class="col-lg-3 g-mb-10">
					<!-- icono1 -->
					<div class="media g-mb-15">
						<div class="d-flex mr-4">
							<span class="g-color-gray-dark-v4 g-font-size-26">
								<img src=" {{ asset('assets/img/iconos/ruta.jpg') }}">
							</span>
						</div>
						<div class="media-body g-px-20" style="border-left: solid 1px #777777;">
							<h3 class="h5 g-color-black mb-20">Más de una década de trayectoria</h3>
							<p class="g-color-gray-dark-v4">Contamos con un equipo con experiencia para entregar soluciones a tu medida.</p>
							<!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
						</div>
					</div>
					<!-- fin icono 1-->
				</div>
				<!-- icono2 -->
				<div class="col-lg-3 g-mb-10">

					<div class="media g-mb-15">
						<div class="d-flex mr-4">
							<span class="g-color-gray-dark-v4 g-font-size-26">
								<img src=" {{ asset('assets/img/iconos/persona.jpg') }}">
							</span>
						</div>
						<div class="media-body g-px-20" style="border-left: solid 1px #777777;">
							<h3 class="h5 g-color-black mb-20">Portal de clientes
								<br><br></h3>
							<p class="g-color-gray-dark-v4">Ten acceso a toda la información de tus operaciones y procesa tus facturas online.</p>
							<!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
						</div>
					</div>

				</div>
				<!-- fin icono 2-->

				<!-- icono 3 -->
				<div class="col-lg-3 g-mb-10">

					<div class="media g-mb-15">
						<div class="d-flex mr-4">
							<span class="g-color-gray-dark-v4 g-font-size-26">
								<img src=" {{ asset('assets/img/iconos/place.jpg') }}">
							</span>
						</div>
						<div class="media-body g-px-20" style="border-left: solid 1px #777777;">
							<h3 class="h5 g-color-black mb-20">Presentes en 13 regiones de Chile</h3>
							<p class="g-color-gray-dark-v4">Estamos cerca de nuestros clientes dónde y cuándo nos necesiten.<br><br></p>
							<!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
						</div>
					</div>
				</div>
				<!-- fin icono 3-->

				<!-- icono 4-->
				<div class="col-lg-3 g-mb-10">

					<div class="media g-mb-15">
						<div class="d-flex mr-4">
							<span class="g-color-gray-dark-v4 g-font-size-26">
								<img src=" {{ asset('assets/img/iconos/procesos.jpg') }}">
							</span>
						</div>
						<div class="media-body g-px-20" style="border-left: solid 1px #777777;">
							<h3 class="h5 g-color-black mb-20">Procesos ágiles sin interrupciones</h3>
							<p class="g-color-gray-dark-v4">Reduce el tiempo de giro de tu dinero cediendo a través de nuestro portal.<br><br></p>
							<!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
						</div>
					</div>
					<!-- fin icono 4-->
				</div>
			</div>

		</div>
	</div>

</section>
<!-- Fin seccion iconos-->
<!-- TESTIMONIOS   -->
<section class="homebs" id="testimonios">
	<div class="row">
	  <div class="col-12 d-none d-md-block m-0 p-0" style="background-image: url('{{ asset('assets/img/testimonio.jpg') }}');">
		<div class="row m-0 p-0">
			<div class=" col-md-6 text-center m-0 p-0">
			<h2 style="margin-top: 80px;">TESTIMONIO</h2>
			</div>
			<div style=" background-color: rgba(255,255,255,0.7);" class="col-md-6 m-0 p-0 text-left">
				<p style=" margin-left: 10%; color: black;" class="g-pt-50 g-pb-20">“Además de la agilidad en las operaciones se ha desarrollado un
					vínculo de confianza y transparencia con el personal de Interfactor”</p>
				<div style=" margin-left: 10%; " class="mb-4 text-left">
					<p style="line-height:5px;"><b>Marcelo Araya</b></p>
					<p style="line-height:5px ;"><b>Gerente de Administración</b></p>
					<p style="line-height:5px ;"><b>Martinic</b></p>
				</div>	
			</div>
		</div>
	</div>

		<div class="col-12 d-block d-md-none text-center" style="background-image: url('{{ asset('assets/img/testim.jpg') }}');">
			<div class="row">
		
				<div class="col-12">
						<h3 class="mb-4 mt-4">TESTIMONIO</h3>
				</div>

			<div style=" background-color: rgba(255,255,255,0.7);" class="col-12 m-0 p-0 text-left">
				<p style=" margin-left: 10%; color: black;" class="g-pt-50 g-pb-20">“Además de la agilidad en las operaciones se ha desarrollado un
					vínculo de confianza y transparencia con el personal de Interfactor”</p>
				<div style=" margin-left: 10%; " class="mb-4 text-left">
					<p style="line-height:5px;"><b>Marcelo Araya</b></p>
					<p style="line-height:5px ;"><b>Gerente de Administración</b></p>
					<p style="line-height:5px ;"><b>Martinic</b></p>
				</div>	
			</div>
		</div>
	</div>
</section>
<!-- FIN TESTIMINIOS -->
{% endblock %}

{% block javascripts  %}
{{ parent() }}
  <!-- JS Master Slider -->
  <script src=" {{ asset('assets/vendor/master-slider/source/assets/js/masterslider.min.js') }} "></script>

<script>

var slider = new MasterSlider();

slider.control('arrows', {
  autohide: true,
  overVideo: true
});
slider.setup("masterslider", {
  width: 1366,
  height: 550,
  minHeight: 0,
  space: 0,
  start: 1,
  grabCursor: true,
  swipe: true,
  mouse: true,
  keyboard: true,
  layout: "fullwidth",
  wheel: false,
  autoplay: true,
  instantStartLayers: true,
  loop: true,
  shuffle: false,
  preload: 0,
  heightLimit: true,
  autoHeight: false,
  smoothHeight: true,
  endPause: false,
  overPause: true,
  fillMode: "fill",
  centerControls: false,
  startOnAppear: false,
  layersMode: "center",
  autofillTarget: "",
  hideLayers: false,
  fullscreenMargin: 0,
  speed: 20,
  dir: "h",
  parallaxMode: 'swipe',
  view: "parallaxMask"
});


</script>
  

{% endblock %}
