{% extends 'base.html.twig' %}     

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- INICIO BANNER -->
  <section class="g-pt-170 g-py-50">
        <img src=" {{ asset('assets/img/banner/banner-index.jpg') }}" class="img-fluid" alt="Responsive image">

  </section>
    <!-- FIN BANNER -->
    <!-- SECCION ICONOS -->

    <div class="container">
      <div class="text-center g-mb-30">
        <h2><span style="font-weight: 300;">¿Por qué</span><strong> elegirnos?</strong></h2>
      </div>
    <div class="shortcode-html">
      
      
      <div class="row">
        <div class="col-lg-3 g-mb-10">
         <!-- icono1 -->
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-gray-dark-v4 g-font-size-26">
                <img src=" {{ asset('assets/img/iconos/ruta.jpg') }}">
              </span>
            </div>
            <div class="media-body g-px-20" style="border-left: solid 1px #777777;">
              <h3 class="h5 g-color-black mb-20">Más de una década de trayectoria</h3>
              <p class="g-color-gray-dark-v4">Contamos con un equipo con experiencia para entregar soluciones a tu medida.</p>
              <!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
            </div>
          </div>
          <!-- fin icono 1-->
        </div>
<!-- icono2 -->
        <div class="col-lg-3 g-mb-10">
         
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-gray-dark-v4 g-font-size-26">
                <img src=" {{ asset('assets/img/iconos/persona.jpg') }}">
              </span>
            </div>
            <div class="media-body g-px-20" style="border-left: solid 1px #777777;">
              <h3 class="h5 g-color-black mb-20">Portal de clientes <br><br></h3>
              <p class="g-color-gray-dark-v4">Ten acceso a toda la información de tus operaciones y procesa tus facturas on-line.</p>
              <!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
            </div>
          </div>
         
        </div>
                  <!-- fin icono 2-->

<!-- icono 3 -->
        <div class="col-lg-3 g-mb-10">

          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-gray-dark-v4 g-font-size-26">
                <img src=" {{ asset('assets/img/iconos/place.jpg') }}">
              </span>
            </div>
            <div class="media-body g-px-20" style="border-left: solid 1px #777777;">
              <h3 class="h5 g-color-black mb-20">Presentes en 13 regiones de Chile</h3>
              <p class="g-color-gray-dark-v4">Estamos cerca de nuestros clientes dónde y cuándo nos necesiten.<br><br></p>
              <!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
            </div>
          </div>
        </div>
                  <!-- fin icono 3-->

          <!-- icono 4-->
          <div class="col-lg-3 g-mb-10">
          
          <div class="media g-mb-15">
            <div class="d-flex mr-4">
              <span class="g-color-gray-dark-v4 g-font-size-26">
                <img src=" {{ asset('assets/img/iconos/procesos.jpg') }}">
              </span>
            </div>
            <div class="media-body g-px-20" style="border-left: solid 1px #777777;">
              <h3 class="h5 g-color-black mb-20">Procesos ágiles sin interrupciones</h3>
              <p class="g-color-gray-dark-v4">Reduce el tiempo de giro de tu dinero cediendo a través de nuestro portal.<br><br></p>
              <!-- <a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Learn More</a> -->
            </div>
          </div>
          <!-- fin icono 4-->
        </div>
      </div>
     
    </div>
    </div>
      
    </div>
    <!-- Fin seccion iconos-->
<!-- TESTIMONIOS   -->
    <section class="g-pt-30">
      <img src=" {{ asset('assets/img/banner/testimonios.jpg') }}" class="img-fluid" alt="Responsive image">

</section>
<!-- FIN TESTIMINIOS -->


{% endblock %}
{% block javascripts  %}
    {{ parent() }}
{% endblock %}