{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}


{% block body %}

 <!-- INICIO BANNER -->
  <section class="g-mt-130 g-py-1">
        <img src=" {{ asset('assets/img/banner/banner-sucursales-1.jpg') }}" class="img-fluid imgbanner" alt="Responsive image">
        <div class="cuadro g-hidden-md-down" data-animation="bounceInLeft" data-animation-delay="0" data-animation-duration="1000">
       <div style="padding:28px"> 
       <p class="titulo-cuadro blanco">SUCURSALES</p>
        <strong class="blanco"></strong>
        </div>
        </div>

  </section>
    <!-- FIN BANNER -->
    <div class="container sucursales-w g-mt-2 g-py-130">
      <div class="row">
        <div id="lista" class="col-12">
          

        </div>
          <div class="col-md-6 offset-md-4 g-pb-20">
             
            <div class="select_region">
                  <h2><label>REGIÓN</label></h2>
                  <select name= "region" id="region">
                    <option value="">Selecciona una región</option>
                    {% for areas in area %}
                    <option value="{{areas.id}}">{{ areas.name }}</option>
                    {% endfor %}
            </div>
            </div>


  



      </div>
      </div>


   



{% endblock %}
{% block javascripts  %}
{{ parent() }}
<script src="{{ asset('assets/js/api/offices.js') }}"></script>  
{% endblock %}