<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <html lang="es">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta %}{% endblock %}
        <title>{% block title %}Interfactor{% endblock %}</title>
        
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
  
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">


    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href=" {{ asset('assets/vendor/bootstrap/bootstrap.min.css') }} ">

    <!-- CSS Unify -->
    <link rel="stylesheet" href=" {{ asset('assets/css/unify.css') }} ">
	<link rel="stylesheet" href=" {{ asset('assets/css/unify-core.css') }} ">
  	<link rel="stylesheet" href=" {{ asset('assets/css/unify-components.css') }} ">
    <link rel="stylesheet" href=" {{ asset('assets/css/unify-globals.css') }} ">
    
    <link rel="stylesheet" href=" {{ asset('assets/css/custom.css') }} ">

    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-awesome/css/font-awesome.css') }} ">
    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-awesome/css/font-awesome.min.css') }} ">  
    <link rel="stylesheet" href=" {{ asset('assets/vendor/hamburgers/hamburgers.min.css') }} ">  
    <link rel="stylesheet" href=" {{ asset('assets/vendor/hs-megamenu/src/hs.megamenu.css') }} ">  
    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-hs/style.css') }} "> 
    <link rel="stylesheet" href=" {{ asset('assets/vendor/animate.css') }} "> 
   


    {#
    <link rel="stylesheet" href=" {{ asset('assets/vendor/dzsparallaxer/dzsparallaxer.css') }} ">
    <link rel="stylesheet" href=" {{ asset('assets/vendor/dzsparallaxer/dzsscroller/scroller.css') }} ">
    <link rel="stylesheet" href=" {{ asset('assets/vendor/dzsparallaxer/advancedscroller/plugin.css') }} ">

    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-awesome/css/font-awesome.min.css') }} "> 
    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-etlinefont/style-source.css') }} "> 
    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-etlinefont/style.css') }} "> 
    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-line/css/simple-line-icons.css') }} "> 
    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-line-pro/style.css') }} "> 
    <link rel="stylesheet" href=" {{ asset('assets/vendor/icon-material/material-icons.css') }} "> 
    #}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        {{ include('menu.html.twig') }}

        {% block body %}{% endblock %}

        {{ include('footer.html.twig') }}
      
        
     <!-- JS Global Compulsory -->
    <script src=" {{ asset('assets/vendor/jquery/jquery.min.js') }} "></script>
    <script src=" {{ asset('assets/vendor/jquery-migrate/jquery-migrate.min.js') }} "></script>
    <script src=" {{ asset('assets/vendor/popper.js/popper.min.js') }} "></script>
    <script src=" {{ asset('assets/vendor/bootstrap/bootstrap.min.js') }} "></script>
    <!--<script src=" {{ asset('assets/vendor/jquery.filer/js/jquery.filer.min.js') }} "></script>-->

    <!-- JS Unify -->
    <script src=" {{ asset('assets/js/hs.core.js') }} "></script>
    <script src=" {{ asset('assets/vendor/hs-megamenu/src/hs.megamenu.js') }} "></script>


    <script src=" {{ asset('assets/js/components/hs.header.js') }} "></script>
    <script src=" {{ asset('assets/js/helpers/hs.hamburgers.js') }} "></script>


    <script src=" {{ asset('assets/vendor/appear.js') }} "></script>
    <script src=" {{ asset('assets/js/components/hs.onscroll-animation.js') }} "></script>
    

              <!-- JS Plugins Init. -->

              <script >
                $(document).on('ready', function () {
                  // initialization of scroll animation
                  $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
                });
              </script>

    <!-- JS Custom -->
    <script src=" {{ asset('assets/js/custom.js') }} "></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>

